<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
     <link rel="icon" href="/img/weather.png">

    <title>About</title>
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by Liran Shoshana. It uses data form mapbox.com and draksky.net</p>
    <img class="portrait" src="/img/me.jpg">
    </div>
    {{>footer}}
</body>
</html>